@model KernelCars.Models.Car
    <div class="card carList">
        <div class="card-body">
            <p class="searchField">
                @Model.CarModel.Manufacturer.Name @Model.CarModel.Model (<b>@Model.RegistrationNumber</b>) @*Владелец: <b>@Model.CarOwner.FullName</b>*@
                @if (@Model.CarUserForView != "")
                {
                    @: Водитель: <b>@Model.CarUserForView</b>
                }
            </p>

            @*<p class="searchField">
                @if (@Model.DepartmentNameForView != "")
                {
                    @:Подразделение: <b>@Model.DepartmentNameForView</b> (@Model.FullNameFirmForView)
                }
            

            </p>*@
            @*<p>
                <div @(Html.Raw(Model.IsRentCar ? "style=\"display:block\"" : "style=\"display:none\""))>
                    <input type="checkbox"
                           value="@Model.IsRentCar"
                           @(Html.Raw(Model.IsRentCar ? "checked=\"checked\"" : ""))
                           disabled /> Арендованный автомобиль
                </div>
                <div @(Html.Raw(Model.IsPrivat ? "style=\"display:block\"" : "style=\"display:none\""))>
                    <input type="checkbox" class="custom-checkbox"
                           value="@Model.IsPrivat"
                           @(Html.Raw(Model.IsPrivat ? "checked=\"checked\"" : ""))
                           disabled /> Частный автомобиль
                </div>
            </p>*@
            <a class="card-link" asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id">Подробно</a>
            <a class="card-link" asp-controller="CarStatus" asp-action="CarStatuses" asp-route-carId="@Model.Id">Статус авто</a>
            <a class="card-link" asp-controller="CarUsers" asp-action="List" asp-route-carId="@Model.Id">Водитель</a>
            @if (@Model.IsEnableService)
            {
                <a class="card-link" asp-controller="CarServices" asp-action="CarSeviceList" asp-route-carId="@Model.Id">Запись на ТО</a>
            }
        </div>
    </div>
