@model List<KernelCars.Models.CarService>

<div class="row"></div>
<table class="servicelist table table-hover">
    <thead>
        <tr>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Одометр</th>
            <th>Стоимость (грн.)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                @*<td>
                        @service.ID
                    </td>*@
                <td>
                    @service.OpenDate.ToShortDateString()
                </td>
                <td>
                    @if (service.CompleteDate == null)
                    {
                        @:<b>В работе</b>
                    }
                    else
                    {
                        @(((DateTime)service.CompleteDate).ToShortDateString())
                    }
                </td>
                <td>
                    @service.Odometr
                </td>
                <td>
                    @service.Odometr
                </td>
                <td>
                    @if (service.CompleteDate == null)
                    {
                        <a asp-controller="CarServices" asp-action="Edit" asp-route-id="@service.ID">Изменить</a> @:|
                    }
                    else
                    {
                        <a asp-controller="CarServices" asp-action="Edit" asp-route-id="@service.ID">Просмотреть</a>
                    }
                    @if (service.CompleteDate == null)
                    {
                        <a asp-controller="CarServices" asp-action="Close" asp-route-id="@service.ID">Закрыть Акт</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
</div>