@model KernelCars.Models.Car
    <div class="card carList m-2">
        <div class="card-header">
            <p class="searchField">Автомобиль: <b>@Model.CarModel.Manufacturer.Name @Model.CarModel.Model</b> Гос.номер: <b>@Model.RegistrationNumber </b><span class="badge badge-pill  @(Model.CarCurrentStatus=="Эксплуатация" ? "badge-success":"") @(Model.CarCurrentStatus=="Тех.обслуживание" ? "badge-warning":"") @((Model.CarCurrentStatus != "Тех.обслуживание" && Model.CarCurrentStatus !="Эксплуатация") ? "badge-danger":"")">@Model.CarCurrentStatus</span></p>
            
            <a class="card-link btn btn-info" asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id">Подробно</a>
            @*<a class="card-link" asp-controller="CarStatus" asp-action="CarStatuses" asp-route-id="@Model.Id">Статус авто</a>*@
            @*<a class="card-link" asp-controller="CarUsers" asp-action="List" asp-route-carId="@Model.Id">Водитель</a>*@
            @if (@Model.IsEnableService)
            {
                <a class="card-link btn btn-warning" asp-controller="CarServices" asp-action="CarSeviceList" asp-route-carId="@Model.Id">Запись на ТО</a>
            }
        </div>
        <div class="card-body">

            @if (@Model.CarUserForView != "")
            {
                <p class="searchField"> Водитель: <b>@Model.CarUserForView</b></p>
            }
            @if (@Model.LocationForView != "")
            {
                <p class="searchField">Размещение: <b>@Model.LocationForView</b></p>
            }

            @if (@Model.CarStatuses.Count >= 1)
            {
                <p>Юр.лицо: <b>@Model.FullNameFirmForView (@Model.DepartmentNameForView)</b></p>
            }

        </div>
    </div>
